<main class="container content-holder">
	<section class="left-sidebar">
		<app-admin-side-nav></app-admin-side-nav>
	</section>

	<section class="main-content" *ngIf="lesson">
		<h1>Edit lesson</h1>

		<form #lessonForm="ngForm" (ngSubmit)="update(lessonForm)">
			<div class="form-group">
				<app-course-banner-uploader
					name="image"
					[ngModel]="lesson.image"
					required
				></app-course-banner-uploader>
			</div>

			<div class="form-group">
				<label for="name">Name</label>
				<input
					type="text"
					id="name"
					placeholder="Lesson name"
					class="dark"
					[ngModel]="lesson.name"
					name="name"
					required
				/>
			</div>

			<div class="form-group">
				<label for="description">Description</label>
				<textarea
					type="text"
					id="description"
					placeholder="Lesson length"
					class="dark"
					[ngModel]="lesson.description"
					name="description"
					required
				></textarea>
			</div>

			<div class="form-group">
				<label for="length">Expected length (minutes)</label>
				<input
					type="number"
					id="length"
					placeholder="Lesson length"
					class="dark"
					[ngModel]="lesson.length"
					name="length"
					required
				/>
			</div>

			<div class="form-group">
				<label for="content">Content</label>
				<section class="quill-wrapper">
					<quill-editor
						id="content"
						placeholder="Lesson content"
						class="quill-editor"
						[ngModel]="lesson.content"
						name="content"
					></quill-editor>
				</section>
			</div>

            <div class="form-group">
				<label for="document">Documents</label>

				<div class="documents">
					<div
						class="document-container"
						*ngFor="
							let attachment of attachments;
							let index = index
						"
					>
						<fa-icon
							class="file-icon"
							[icon]="getFileIcon(attachment.name)"
						></fa-icon>
						<p>{{ attachment.name }}</p>
						<fa-icon
							(click)="
								addToAttachmentsToDelete(attachment, index)
							"
							class="delete-icon"
							[icon]="icons.faTimes"
						></fa-icon>
					</div>

					<div
						class="document-container"
						*ngFor="
							let attachment of attachmentsToUpload;
							let index = index
						"
					>
						<fa-icon
							class="file-icon"
							[icon]="getFileIcon(attachment.name)"
						></fa-icon>
						<p>{{ attachment.name }}</p>
						<fa-icon
							(click)="deleteAttachmentFromUploadList(index)"
							class="delete-icon"
							[icon]="icons.faTimes"
						></fa-icon>
					</div>

					<label
						id="document"
						class="document-container upload-container"
					>
						<input type="file" (change)="onFileChange($event)" />
						<fa-icon
							class="file-icon"
							[icon]="icons.faFileUpload"
						></fa-icon>
						<p>Click to upload a file</p>
					</label>
				</div>
			</div>

            <div class="form-group columns">
                <div class="column grow">
                    <button class="button primary column grow" [disabled]="lessonForm.invalid || isUpdating">
                        Save lesson
                        <span class="icon"
                            ><fa-icon [icon]="icons.faArrowRight"></fa-icon
                        ></span>
                    </button>
                </div>

                <div class="column">
                    <button class="button hover-danger" [disabled]="isUpdating" (click)="remove()">
                        Delete lesson
                        <span class="icon"
                            ><fa-icon [icon]="icons.faTrash"></fa-icon
                        ></span>
                    </button>
                </div>
            </div>

		</form>
	</section>
</main>
