<div class="container">
	<div class="content-holder">
		<section class="left-sidebar">
			<app-admin-side-nav></app-admin-side-nav>
		</section>
		<section class="main-content">
			<div class="columns">
				<h1 class="column grow" style="margin-bottom: 20px">My students</h1>
			</div>
			<div class="students">
				<div class="student" *ngIf="!students">
					<app-avatar [avatar]="" [size]="90"></app-avatar>
					<p>You have no students.</p>
				</div>
				<div class="student" *ngFor="let student of students">
					<app-avatar [avatar]="student.user.avatar" [size]="90"></app-avatar>
					<p>{{ student.user.firstname + " " + student.user.lastname}}</p>
					<button class="button primary" [routerLink]="['/chats/'] + student.user.id">Chat</button>
				</div>
			</div>
		</section>
	</div>
</div>
<ng-container appPlaceholder></ng-container>

