<app-modal title="Create lesson" (closeModal)="close()">
	<ng-container body>
		<form #courseForm="ngForm" id="set-lesson-form" (ngSubmit)="create(courseForm)">
			<div class="form-group">
				<app-course-banner-uploader name="image" ngModel required></app-course-banner-uploader>
			</div>

			<div class="form-group">
				<label for="name">Name</label>
				<input
					type="text"
					id="name"
					name="name"
					placeholder="Lesson name"
					class="dark"
					ngModel
					required
				/>
			</div>

			<div class="form-group">
				<label for="description">Description</label>
				<textarea
					name="description"
					id="description"
					placeholder="Lesson description"
					class="dark"
					ngModel
					required
				></textarea>
			</div>
		</form>
	</ng-container>

    <ng-container footer>
        <button class="button primary" form="set-lesson-form" [disabled]="courseForm.invalid">
            Save lesson
            <span class="icon"
                ><fa-icon [icon]="icons.faCheck"></fa-icon
            ></span>
        </button>
    </ng-container>
</app-modal>
