<main class="container">
    <div class="login-container">
        <h1>Sign in</h1>

        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" ngModel email required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" ngModel required>
            </div>

            <div class="form-group columns last">
                <button class="button primary" [disabled]="loginForm.invalid || isLoading">Sign in <span class="icon"><fa-icon [icon]="icons.faArrowRight"></fa-icon></span></button>
                <p class="link" routerLink="/register">Create an account</p>
                <p class="link" routerLink="/reset-password">Reset password</p>
            </div>
        </form>
    </div>
</main>
