@import "/src/app/shared/variables";

*{
  font-family: Bahnschrift, sans-serif;
}

figure:hover {
    cursor: pointer;
}

h3 {
    font-weight: lighter;
    font-size: 140%;
    width: 240px;
}

header {
    margin-top: 5px;
}

img {
    border-radius: 5px;
    width: 240px;
    height: 200px;
}

#progress-bar {
    display: block;
    background-color: $color-progress-bar;
    width: 100%;
    border-radius: 5px;
    height: 10px;
}

.course-button {
    display: flex;
    justify-content: space-between;
    background-color: $color-background-dark;
    border-radius: 8px;
    padding: 8px;
    margin-top: 20px;
    width: 140px;
    color: $color-white;
}

.progress-bar-wrapper {
    margin-left: 5%;
    margin-right: 5%;
    height: 10px;
    transform: translateY(-22px);
}


