@import "/src/app/shared/variables";

*{
  font-family: Bahnschrift, sans-serif;
}

figure:hover {
    cursor: pointer;
}

h3 {
    font-weight: lighter;
    font-size: 140%;
}

header {
    margin-top: 5px;
}

img {
    border-radius: 5px;
}

.button-icon {
    //margin-left: 90px;
}

.course-button {
    display: flex;
    justify-content: space-between;
    background-color: $color-background-dark;
    border-radius: 8px;
    padding: 8px;
    margin-top: 20px;
    width: 140px;
    color: $color-white;
}


