<section class="course-card-wrapper">
    <figure [routerLink]="course.id">
<!--        <img srs="{{course.image}}" alt="course-thumbnail">-->
        <img src="/assets/images/lion.jpg" alt="temporary lion img">
        <div class="progress-bar-wrapper">
            <div id="progress-bar" *ngIf="progress" style="width: {{progress.progress*100}}%"></div>
        </div>
    </figure>
    <header>
        <h3> {{course.name}} </h3>
    </header>
    <button [routerLink]="course.id" class="course-button">
        To course
        <span class="icon">
            <fa-icon [icon]="icons.faArrowRight" class="button-icon"></fa-icon>
        </span>
    </button>
</section>
