<section class="course-card-wrapper">
    <figure [routerLink]="course.id">
<!--        <img srs="{{course.image}}" alt="course-thumbnail" width="240" height="200">-->
        <img src="/assets/images/lion.jpg" width="240" height="200" alt="temporary lion img">
    </figure>
    <header>
        <h3> {{course.name}} </h3>
    </header>
    <button [routerLink]="course.id" class="course-button">
        To course
        <span class="icon">
            <fa-icon [icon]="icons.faArrowRight" class="button-icon"></fa-icon>
        </span>
    </button>
</section>
