<div class="question-answer-card">
	<label for="answer{{ index }}">Answer</label>
	<div class="answer-content">
		<input
			type="text"
			name="answer{{ index }}"
			class="dark"
			id="answer{{ index }}"
			placeholder="Put answer content in here"
			value="{{ answer.text }}"
			[disabled]="disabled"
		/>
		<div class="correct-answer-checkbox">
			<input
				type="checkbox"
				id="correctAnswer{{ index }}"
				name="correctAnswer{{ index }}"
				[checked]="answer.correct"
				[disabled]="disabled"
			/>
			<label for="correctAnswer{{ index }}">Correct</label>
		</div>
	</div>
</div>
