<app-top-nav></app-top-nav>
<div class="container content-holder">
	<section class="left-sidebar">
		<app-admin-side-nav></app-admin-side-nav>
	</section>

	<section class="main-content" *ngIf="course">
		<h1>Edit course</h1>

		<form #courseForm="ngForm" (ngSubmit)="update(courseForm)">
			<div class="form-group">
				<label for="name">Name</label>
				<input
					type="text"
					id="name"
					name="name"
					placeholder="Course name"
					class="dark"
					[ngModel]="course.name"
					required
				/>
			</div>

			<div class="form-group">
				<label for="description">Description</label>
				<textarea
					name="description"
					id="description"
					placeholder="Course description"
					class="dark"
					[ngModel]="course.description"
					required
				></textarea>
			</div>

			<div class="form-group">
				<label for="category">Category</label>
				<div class="columns">
					<app-dropdown
						class="dropdown"
						name="category"
						id="category"
						placeholder="Select a category"
                        class="column grow"
						ngDefaultControl
						required
						ngModel
						[dark]="true"
						[options]="categories"
					>
						<ng-template appDropdownSelected let-selected>
							<p>{{ selected.name }}</p>
						</ng-template>
						<ng-template appDropdownOption let-option>
                            <div class="columns">
                                <p class="column grow">{{ option.name }}</p>
                                <fa-icon (click)="updateCategory($event, option)" class="category-icon" [icon]="icons.faPen"></fa-icon>
                                <fa-icon (click)="removeCategory($event, option)" class="category-icon" [icon]="icons.faTimes" *ngIf="option.coursesCount === 0"></fa-icon>
                            </div>
						</ng-template>
					</app-dropdown>

                    <button type="button" class="button add-category-button" (click)="showCreateCategoryModal()">
                        <fa-icon [icon]="icons.faPlus"></fa-icon>
                    </button>
				</div>
			</div>

            <div class="form-group">
                <label for="active">Actief</label>
                <app-toggle name="active" [ngModel]="course.active" [dark]="true" required></app-toggle>
            </div>

			<div class="form-group">
                <div class="columns">
                    <div class="column grow">
                        <button class="button primary" [disabled]="courseForm.invalid">
                            Save course
                            <span class="icon"
                                ><fa-icon [icon]="icons.faCheck"></fa-icon
                            ></span>
                        </button>
                    </div>
                    <button type="button" class="column button hover-danger" (click)="remove()">
                        Delete course
                        <span class="icon"
                            ><fa-icon [icon]="icons.faTrash"></fa-icon
                        ></span>
                    </button>
                </div>
			</div>
		</form>
	</section>

    <ng-container appPlaceholder></ng-container>
</div>
