<main class="lesson-overview-holder container">
	<figure class="img-holder">
		<img
			class="banner-image"
			src="/assets/images/test-banner.jpeg"
			alt=""
		/>
	</figure>
	<section class="content-holder">
		<section class="left-content">
			<section class="general-information">
				<h3>General information</h3>
				<section class="general-info-holder">
					<div class="text-and-numbers">
						<p>Lessons</p>
						<p>1</p>
					</div>
					<hr />
					<div class="text-and-numbers">
						<p>Category</p>
						<p>Indonesia, Culture</p>
					</div>
					<hr />
					<div class="text-and-numbers">
						<p>Length</p>
						<p>~165 minutes</p>
					</div>
				</section>
			</section>

			<section class="recommendation-info">
				<h3>Similar Courses</h3>
				<app-recommendation-card></app-recommendation-card>
				<app-recommendation-card></app-recommendation-card>
			</section>
		</section>

		<section class="right-content">
			<section class="title-desc-holder">
				<h1>Culture and beliefs in Indonesia</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
					do eiusmod tempor incididunt ut labore et dolore magna
					aliqua. Ut enim ad minim veniam, quis nostrud exercitation
					ullamco laboris nisi ut aliquip ex ea commodo consequat.
					Duis aute irure dolor in reprehenderit in voluptate velit
					esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
					occaecat cupidatat non proident, sunt in culpa qui officia
					deserunt mollit anim id est laborum.
				</p>
			</section>
			<section class="lesson-progress">
				<h1>My progress</h1>
				<section class="progress-circles">
					<app-progress-circle
						*ngFor="let lesson of lessons"
						[lesson]="lesson"
					></app-progress-circle>
				</section>
			</section>
			<section class="cards-holder">
				<app-lesson-overview-card
					*ngFor="let lesson of lessons"
					[lesson]="lesson"
				></app-lesson-overview-card>
				<app-lesson-test-card></app-lesson-test-card>
			</section>
		</section>
	</section>
</main>
