<section class="lesson-overview-holder">
  <figure class="img-holder">
    <img class="banner-image" src="/assets/images/test-banner.jpeg" alt="">
  </figure>
  <section class="content-holder">

    <section class="left-content">

      <section class="general-information">
        <h1>General information</h1>
        <section class="general-info-holder">
          <div class="text-and-numbers">
            <p>Lessons</p>
            <p>4</p>
          </div>
          <hr>
          <div class="text-and-numbers">
            <p>Category</p>
            <p>Indonesia, Culture</p>
          </div>
          <hr>
          <div class="text-and-numbers">
            <p>Length</p>
            <p>~165 minutes</p>
          </div>
        </section>
      </section>

      <section class="recommendation-info">
        <h1>Similar Courses</h1>

<!--        Build into components-->
        <section class="img-title-holder">
          <figure><img src="/assets/images/lion.jpg" alt=""></figure>
          <h1>Wildlife in Africa</h1>
        </section>

        <section class="img-title-holder">
          <figure><img src="/assets/images/lion.jpg" alt=""></figure>
          <h1>Wildlife in Africa</h1>
        </section>

        <section class="img-title-holder">
          <figure><img src="/assets/images/lion.jpg" alt=""></figure>
          <h1>Wildlife in Africa</h1>
        </section>

        <section class="img-title-holder">
          <figure><img src="/assets/images/lion.jpg" alt=""></figure>
          <h1>Wildlife in Africa</h1>
        </section>

      </section>

    </section>

    <section class="right-content">

    </section>
  </section>

</section>

