@import "/src/app/shared/variables";

.lesson-card {
	display: flex;
	gap: 20px;
	min-height: 126px;

	figure {
        max-width: 140px;
        height: 140px;
        width: 100%;
        background-color: $color-background-dark;
        border-radius: 10px;
        overflow: hidden;

        img {
            cursor: pointer;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
	.lesson-info {
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		.textual-info {
			flex-grow: 1;
			display: flex;
			flex-direction: column;

			p {
				color: $color-gray-400;
				flex-grow: 1;
				display: flex;
				align-items: center;
			}
		}
	}

	.handle {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: grabbing;

		&:hover .grip-icon {
			color: $color-white;
		}

		.grip-icon {
			font-size: 20px;
			color: $color-gray-600;
			align-self: center;
			transition: 0.3s;
			pointer-events: none;
		}
	}
}

@media only screen and (max-width: 550px) {

	.lesson-card > figure {
		display: none;
	}
}
