<div class="container content-holder">
	<section class="left-sidebar">
<!--		<app-test-info -->
<!--			[courseName]="test.course.name" -->
<!--			[lessonName]="test.lesson.name" -->
<!--			[testLength]="test.length"-->
<!--		></app-test-info>-->
		<app-test-screen-info
			[courseName]="'Culture and beliefs in Indonesia'"
			[lessonName]="'Introduction'"
			[testLength]="25"
		></app-test-screen-info>
	</section>
	<section class="main-content">
<!--		<h1>{{test.lesson.name}} test</h1>-->
		<h1>Introduction test</h1>
<!--		<app-test-question *ngFor="test.questions"></app-test-question>-->
		<app-test-question></app-test-question>
		<app-test-question></app-test-question>
		<app-test-question></app-test-question>
		<app-test-question></app-test-question>
	</section>
</div>


