@import "../../shared/variables";

h1 {
  margin-bottom: 20px;
}

.chevronRight {
  margin-left: 10px;
  font-size: small;
}

.check-test-button {
  background-color: $color-orange-500;
  max-width: 100%;
  width: 100%;
  text-align: left;
  padding: 20px;
  font-size: large;
  font-weight: bold;
  margin-top: 64px;
}

.graduationCap {
  margin-right: 5px;
}

.invalid-ansers {

}

.earned-badge {
  display: none;
}

.earned-certificate {
  display: none;
}

.pop-up-wrapper {
  display: none;
  //display: block;
  position: fixed;
  z-index: 1;
  width: 540px;
  height: 310px;
  border-radius: $border-radius;
  background-color: lightblue;
}
