<section class="my-coach-wrapper">
    <section class="coach-title">
        <h1> My coach </h1>
    </section>
    <section class="img-and-name">
        <figure>
            <img class="coach-img" src="{{ coachImg }}" alt="Image of the coach">
        </figure>
        <p class="name">
            {{ coachFirstName }} {{ coachLastName }}
        </p>
    </section>
    <hr>
    <p class="chat">
        Chat
        <span class="icon-chevron-right">
            <fa-icon [icon]="icons.faChevronRight"></fa-icon>
        </span>
    </p>
    <button>
        My coach
        <span class="icon">
            <fa-icon [icon]="icons.faArrowRight"></fa-icon>
        </span>
    </button>
</section>
