@import "/src/app/shared/variables";

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.modal-container {
    background-color: $color-background;
    padding: 20px;
    border-radius: $border-radius;
    display: block;
    position: absolute;
    max-width: 600px;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    header {
        padding-bottom: 20px;
        display: flex;
        position: relative;

        .close-button {
            font-size: 17px;
            color: $color-gray-400;
            transition: .3s;
            position: absolute;
            right: 0;
            top: 0;

            &:hover {
                filter: brightness(90%);
            }
        }
    }

    footer {
        display: flex;
        padding-top: 20px;

        & * {
           width: min-content;
           margin-right: 20px;
        }
    }
}
