<section class="navigation">
    <h3>Navigation</h3>
    <ul>
        <li routerLink="/admin">
            <p>Overview</p>
            <fa-icon [icon]="icons.faChevronRight"></fa-icon>
        </li>
        <li routerLink="/admin/manage">
            <p>Manage</p>
            <fa-icon [icon]="icons.faChevronRight"></fa-icon>
        </li>
        <li>
            <p>My students</p>
            <fa-icon [icon]="icons.faChevronRight"></fa-icon>
        </li>
        <li routerLink="/admin/manage/coaches">
            <p>Manage coaches</p>
            <fa-icon [icon]="icons.faChevronRight"></fa-icon>
        </li>
    </ul>
</section>
