<section class="lesson-card">
  <section class="status-and-line">
    <div class="status-bubble" style="background-color: #22E63C;"></div>
  </section>
  <section class="lesson-content">
    <h1>Test</h1>
    <section class="img-content-holder">
      <img src="/assets/images/nature.jpeg" alt="lesson-thumbnail">
      <section class="title-desc-holder">
        <h3>Time to test your knowledge</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <section class="button-eta-holder">
          <button class="to-lesson">
            To lesson
            <span class="icon"><fa-icon [icon]="icons.faArrowRight"></fa-icon></span>
          </button>
        </section>
      </section>
    </section>
  </section>
</section>
