<h2>{{question.text}}</h2>
<section *ngIf="!multipleCorrect">
	<ul>
		<li *ngFor="let answer of question.answers">
			<input type="radio" [id]="answer.id" [name]="question.id">
			<label [for]="answer.id">{{answer.text}}</label>
		</li>
	</ul>
</section> <!-- single answer -->
<section *ngIf="multipleCorrect">
	<ul>
		<li *ngFor="let answer of question.answers">
			<input class="inputCheckBox" type="checkbox" [id]="answer.id" [name]="question.id">
			<label [for]="answer.id">{{answer.text}}</label>
		</li>
	</ul>
</section> <!-- multiple answers -->
