@import "../../../shared/variables";

label {
  display: inline;
  width: 100%;
  padding: 10px;
}

label:hover {
  cursor: pointer;
}

input {
  margin: 10px;
  width: 20px;
  height: 20px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px 0;
}

li {
  display: flex;
  width: 40%;
  //padding: 10px;
  background-color: $color-background-dark;
  border-radius: $border-radius;
}

.inputCheckBox  {
  //position: absolute;
  //opacity: 0;
  cursor: pointer;

  display: inline;
  background-color: red;
}

.checkContainer {
  cursor: pointer;
}

.checkContainer:hover input ~ .inputCheckBox {
   background-color: $color-background;
}

.inputCheckBox:checked {
  color: red;
}
