@import "/src/app/shared/variables";

.content-holder {

    section.main-content {
        form {
            margin-top: 20px;
            max-width: 500px;
            width: 100%;

            textarea {
                height: 300px;
            }
        }
    }
}