// Colors
$gray: #6e6e6e;

$color-primary: #FF8721;

$color-background: #2B3D55;
$color-background-dark: #1C2B40;

$color-black: #1b1b1b;
$color-white: #ffffff;

$color-gray-100: #f7fafc;
$color-gray-200: #edf2f7;
$color-gray-300: #e2e8f0;
$color-gray-400: #cbd5e0;
$color-gray-500: #a0aec0;
$color-gray-600: #718096;
$color-gray-700: #4a5568;
$color-gray-800: #2d3748;
$color-gray-900: #1a202c;

$color-red-100: #fff5f5;
$color-red-200: #fed7d7;
$color-red-300: #feb2b2;
$color-red-400: #fc8181;
$color-red-500: #f56565;
$color-red-600: #e53e3e;
$color-red-700: #c53030;
$color-red-800: #9b2c2c;
$color-red-900: #742a2a;

$color-orange-100: #fffaf0;
$color-orange-200: #feebc8;
$color-orange-300: #fbd38d;
$color-orange-400: #f6ad55;
$color-orange-500: #ed8936;
$color-orange-600: #dd6b20;
$color-orange-700: #c05621;
$color-orange-800: #9c4221;
$color-orange-900: #7b341e;

$color-green-100: #f0fff4;
$color-green-200: #c6f6d5;
$color-green-300: #9ae6b4;
$color-green-400: #68d391;
$color-green-500: #48bb78;
$color-green-600: #38a169;
$color-green-700: #2f855a;
$color-green-800: #276749;
$color-green-900: #22543d;

$color-blue-100: #ebf8ff;
$color-blue-200: #bee3f8;
$color-blue-300: #90cdf4;
$color-blue-400: #63b3ed;
$color-blue-500: #4299e1;
$color-blue-600: #3182ce;
$color-blue-700: #2b6cb0;
$color-blue-800: #2c5282;
$color-blue-900: #2a4365;

$border-radius: 7px;

$shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.03);
$shadow-dark: 0px 3px 15px rgba(0, 0, 0, 0.2);

$color-progress-bar: #22E63C;
