@import "/src/app/shared/variables";

*{
  font-family: Bahnschrift, sans-serif;
  //color: white;
}

//aside {
//  width: 20%;
//  margin-left: auto;
//  margin-right: 20px;
//}

aside {
    display: flex;
    flex-direction: column;
    margin-right: 35px;
    width: 300px;
    gap: 40px;
}

.courses-overview-wrapper {
  display: flex;
  width: 100vw;
  border-radius: 25%;
}

.courses-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: auto;
}
