*{
  font-family: Bahnschrift, sans-serif;
  color: white;
}

aside {
  width: 20%;
  margin-left: auto;
  margin-right: 20px;
}

.course-overview-wrapper {
  display: flex;
  width: 100vw;
  border-radius: 25%;
}

.course-wrapper {
  padding: 20px;
  width: 40%;
  margin-right: auto;
}

.my-coach-wrapper {
}

.my-profile-wrapper {
}
