<main class="container">
    <div class="courses-overview-wrapper">
        <aside>
            <section class="my-profile-wrapper">
                <app-course-profile-card></app-course-profile-card>
            </section>

            <section class="my-coach-wrapper">
                <app-course-my-coach-card></app-course-my-coach-card>
            </section>
        </aside>

        <div class="courses-wrapper">
            <article *ngIf="this.myCoursesExists">
                <app-my-courses></app-my-courses>
            </article>
            <article class="course-type-card" *ngFor="let courseCategory of courseCategories">
              <app-course-category-card [courseCategory]="courseCategory"></app-course-category-card>
            </article>
        </div>
    </div>
</main>
