<div class="container content-holder">

    <section class="left-sidebar">
        <app-profile-card></app-profile-card>
        <app-my-coach-card *ngIf="coach" [coach]="coach"></app-my-coach-card>
    </section>

    <section class="main-content">
        <section class="section" *ngIf="myCourses.length > 0">
            <h1>My courses</h1>

            <ul class="courses">
                <li *ngFor="let course of myCourses">
                    <app-course-card [course]="course.course" [progress]="course.progress"></app-course-card>
                </li>
            </ul>
        </section>

        <section class="section" *ngFor="let category of categoriesWithCourses">
            <app-course-category-card [courseCategory]="category"></app-course-category-card>
        </section>
    </section>
</div>
