.badge-information {
    ul{
        li {
            display: flex;

            p.value {
                text-align: right;
                font-weight: 400;
            }

            p.title {
                flex-grow: 1;
            }
        }

        .badge-holder{
            display: flex;
            flex-wrap: wrap;
        }
    }
}
