<div class="container" *ngIf="course">
	<figure>
		<img
			class="header-image"
			[src]="image"
			alt="Course image"
		/>
	</figure>
	<div class="content-holder">
		<section class="left-sidebar">
			<app-admin-side-nav></app-admin-side-nav>
			<app-general-course-info
				[course]="course"
				[lessonCount]="lessons.length"
				[length]="totalLessonLength"
			></app-general-course-info>

            <app-admin-course-info [course]="course"></app-admin-course-info>
		</section>

		<section class="main-content">
			<section class="section">
				<div class="columns">
					<h1 class="column grow">{{ course.name }}</h1>
					<button class="column button primary" routerLink="edit">
						Edit course
						<span class="icon"
							><fa-icon [icon]="icons.faPen"></fa-icon
						></span>
					</button>
					<button class="column button primary"
					[routerLink]="['tests',course.examId]"
					>
						Edit test
						<span class="icon"
							><fa-icon [icon]="icons.faPen"></fa-icon
						></span>
					</button>
				</div>
				<p class="course-description">{{ course.description }}</p>
			</section>

			<section class="section">
				<div class="columns">
					<h1 class="column grow">Lessons</h1>
					<button class="column button primary" (click)="openNewLessonModal()">
						New lesson
						<span class="icon"
							><fa-icon [icon]="icons.faPlus"></fa-icon
						></span>
					</button>
				</div>

				<ul class="lessons" [dragula]="dragulaLessonGroupName" [dragulaModel]="lessonsInOrder" *ngIf="lessonsInOrder.length > 0; else noLessons">
					<li
						*ngFor="let lesson of lessonsInOrder; let index = index" 
					>
						<app-admin-lesson-card
							[lesson]="lesson"
							[number]="index + 1"
						></app-admin-lesson-card>
					</li>
				</ul>

				<ng-template #noLessons>
					<p class="paragraph">There are no lessons in this course.</p>
				</ng-template>
			</section>
		</section>
	</div>

    <ng-container appPlaceholder></ng-container>
</div>
