@import "/src/app/shared/variables";

.header-image {
    max-height: 250px;
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    object-fit: cover;
}

.content-holder {
    margin-top: 30px;
}

.course-description {
    color: $color-gray-500;
    margin-top: 15px;
}