@import "/src/app/shared/variables";

.header-image {
    max-height: 250px;
    overflow: hidden;
    border-radius: 15px;
    width: 100%;
    object-fit: cover;
}

.content-holder {
    margin-top: 30px;
}

.course-description {
    color: $color-gray-400;
    margin-top: 15px;
}

.lessons {
    margin-top: 20px;

    li {
        margin-bottom: 30px;
    }
}

.drop-placeholder {
    padding: 20px 20px;
    background-color: $color-background-dark;
    border-radius: $border-radius;
}

.button-wrapper {
    display: flex;
    gap: 15px;
}

@media only screen and (max-width: 550px) {
    .button-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
