<div class="container">
	<div class="content-holder">
		<section class="left-sidebar">
			<app-admin-side-nav></app-admin-side-nav>
		</section>

		<section class="main-content">
			<div class="columns">
				<h1 class="column grow" style="margin-bottom: 20px">Manage coaches</h1>
				<button class="button primary" (click)="openAddCoachModal()">Add coach<span class="icon"><fa-icon [icon]="icons.faPlus"></fa-icon></span></button>
			</div>

			<section class="section" *ngFor="let coach of coaches">
				<div class="coach-row">

					<div class="columns" id="coach_row">
						<h3 class="column grow">{{ coach.user.firstname }} {{ coach.user.lastname }}</h3>

						<div class="column" *appHasPermissions="['student.create']">
							<button (click)="openAddStudentModal(coach)">Add students</button>
						</div>
						<div class="column" *appHasPermissions="['coach.delete']">
							<button (click)="removeCoach(coach)">Remove coach</button>
						</div>
					</div>
					<app-student-overview [coach]="coach"></app-student-overview>
				</div>

			</section>
		</section>
	</div>
</div>
<ng-container appPlaceholder></ng-container>
