@import "/src/app/shared/variables";

main {
    width: 100%;
    min-height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;

    .form-container {
        padding: 30px;
        background-color: $color-background-dark;
        border-radius: $border-radius;
        box-shadow: $shadow;
        min-width: 450px;

        h1 {
            margin-bottom: 20px;
        }
    }
}

@media only screen and (max-width: 500px) {
    main {
        .form-container {
            min-width: 100%;
        }
    }
}
