<div class="container">
    <div class="content-holder">
        <div class="left-sidebar">
            <app-profile-card></app-profile-card>
        </div>
        <section class="main-content">
            <h1>
                Settings
            </h1>
            <section class="avatar-section">
                <img src="assets/images/avatar-temp.jpg"
                     alt="profile avatar" class="profile-avatar">
                <button type="submit" class="btn">
                    Change avatar
                </button>
            </section>
            <form #courseForm="ngForm" id="update-profile-form" (ngSubmit)="updateProfile(courseForm)">
                <div class="columns">
                    <div class="form-group">
                        <label for="firstName">First name</label>
                        <input type="text" ngModel name="firstName" id="firstName" [(ngModel)]="firstname" placeholder="Enter your first name" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last name</label>
                        <input type="text" ngModel name="lastName" id="lastName" [(ngModel)]="lastname" placeholder="Enter your last name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" ngModel name="email" id="email" [(ngModel)]="email" placeholder="Enter your email" required>
                </div>
                <div class="columns">
                    <button class="btn" (submit)="updateProfile(courseForm)" [disabled]="!courseForm.valid">
                        Update profile
                    </button>
                    <p *ngIf="updateMessageShown">{{ updateMessage }}</p>
                </div>
            </form>
            <br>
            <hr>
            <br>
            <form>
                <div class="form-group">
                    <label for="currentPassword">Current password</label>
                    <input type="password" id="currentPassword" placeholder="Enter your current password" name="current">
                </div>
                <div class="columns">
                    <div class="form-group">
                        <label for="newPassword">New password</label>
                        <input type="password" id="newPassword" placeholder="Enter a new password" name="new">
                    </div>
                    <div class="form-group">
                        <label for="repeatPassword">Repeat new password</label>
                        <input type="password" id="repeatPassword" placeholder="Repeat the new password" name="repeat">
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
