@import "/src/app/shared/variables";

h1 {
	font-family: Bahnschrift, sans-serif;
	color: $color-white;
	font-size: 20px;
	font-weight: bold;
}
.lesson-card {
	display: flex;
	flex-direction: row;
	max-width: 600px;
	gap: 10px;

	.status-and-line {
		display: flex;
		flex-direction: column;
		gap: 10px;
		max-width: 30px;

		.status-bubble {
			min-width: 22px;
			min-height: 22px;
			width: 22px;
			height: 22px;
			border-radius: 100%;
		}

		.line {
			height: 136px;
			background-color: $color-white;
			width: 3px;
			align-self: center;
			border-radius: 10px;
		}
	}

	.lesson-content {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.img-content-holder {
			display: flex;
			gap: 10px;
		}

		.img-content-holder > img {
			width: 140px;
			height: 126px;
			border-radius: 10px;
		}

		.title-desc-holder {
			display: flex;
			flex-direction: column;
			gap: 5px;
			justify-content: space-between;

			.button-eta-holder {
				display: flex;
				gap: 10px;

				.eta {
					align-self: center;
					color: $color-white;
				}
			}
		}

		.title-desc-holder > h3 {
			font-weight: bold;
			color: $color-white;
		}

		.title-desc-holder > p {
			font-weight: 1;
			color: $color-gray-400;
		}
	}
}
