<section class="lesson-card">
	<section class="status-and-line">
		<div class="status-bubble" style="background-color: #22e63c"></div>
	</section>
	<section class="lesson-content">
		<h1>Test</h1>
		<section class="img-content-holder">
			<figure>
				<img src="./assets/images/course-test.png" alt="lesson-thumbnail" />
			</figure>
			
			<section class="title-desc-holder">
				<h2>Time to test your knowledge</h2>
				<p>
					If you have finished all lessons in this course, you are ready to do the test. Good luck!
				</p>
				<section class="button-eta-holder">
					<button class="button" [routerLink]="testPath">
						To test
						<span class="icon"
							><fa-icon [icon]="icons.faArrowRight"></fa-icon
						></span>
					</button>
				</section>
			</section>
		</section>
	</section>
</section>
