@import "/src/app/shared/variables";

*{
  font-family: Bahnschrift, sans-serif;
}

h1 {
    font-size: 100%;
    font-weight: normal;
}

.img-and-name {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}

.my-profile-wrapper {
  border-radius: 10px;
  padding: 10px;
  background-color: $color-background-dark;
}

.my-profile-wrapper button {
    display: flex;
    justify-content: space-between;
    color: $color-white;
    background-color: $color-background;
    border: none;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
}

.name {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 120%;
}

.profileImg {
  border-radius: 50%;
}

.profile-img {
    border-radius: 50%;
}

.profile-title {
    margin-bottom: 12px;
}
