<section class="my-profile-wrapper">
    <section class="profile-title">
        <h1> My profile </h1>
    </section>
    <section class="img-and-name">
        <figure>
            <img class="profile-img" src="{{ profileCardModel.imgPath }}" width="40px" height="40px;" alt="Image of your profile">
        </figure>
        <p class="name">
            {{ profileCardModel.myName }}
        </p>
    </section>
    <button>
        My profile
        <span class="icon">
            <fa-icon [icon]="icons.faArrowRight"></fa-icon>
        </span>
    </button>
</section>
