<div class="chat-window">
	<header class="columns">
		<app-avatar [avatar]="chatUser.avatar" [size]="50"></app-avatar>
		<h2>Chat with {{ chatUser.firstname }}</h2>
	</header>

	<div class="messages-wrapper">
		<ul class="messages">
			<li
				class="message"
				[class.sender]="isSender(message)"
				[class.receiver]="!isSender(message)"
				[class.first-message]="isFirstMessageOfUserInRow(index)"
				*ngFor="let message of messages; let index = index"
			>
				<app-avatar
					class="avatar"
					[size]="30"
					[avatar]="message.sender.avatar"
				></app-avatar>
				<div>
					<p *ngIf="!dateIsSameAsPrevious(index) || isFirstMessageOfUserInRow(index)"
					   class="date">{{ message.createdAt | date }}</p>
					<div class="message-box">
						<p>{{ message.message }}

						</p>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<footer>
		<form #form="ngForm" (ngSubmit)="sendMessage(form)">
			<input
				type="text"
				name="message"
				placeholder="Type your message to {{ chatUser.firstname }}"
				[disabled]="message == ''"
				ngModel
				required
			/>
			<button class="button primary" type="submit">
				Send
				<span class="icon"
				><fa-icon [icon]="icons.faPaperPlane"></fa-icon
				></span>
			</button>
		</form>
	</footer>
</div>
