@import "/src/app/shared/variables";
@import "/src/app/shared/general-course-info/general-course-info.component";
@import "/src/app/course/course-overview/course-overview.component";
@import "/src/styles";

.chevronRight {
    margin-left: 10px;
    font-size: small;
}

.lesson-content > p > img {
    max-width: 100%;
}

.go-to-test-button {
    background-color: $color-orange-500;
    max-width: 100%;
    text-align: left;
    padding: 20px;
    font-size: large;
    font-weight: bold;
}

.graduationCap {
    margin-right: 5px;
}

.left-sidebar {
    display: flex;
    flex-direction: column;
}

.lesson-content{

}

.next-lesson{
    padding: 20px;
    background-color: $color-background-dark;
    border-radius: $border-radius;
}

.next-lesson-button {
    color: $color-white;
    font-size: 160%;
    margin-bottom: 10px;
}

.next-lesson-content {
    overflow: hidden;
    max-height: 50px;
}
