<main class="container">
	<div class="content-holder">
		<section class="left-sidebar">
			<app-lesson-info-card
				*ngIf="course && lesson"
				[courseName]="course.name"
				[lessonLength]="lesson.length"
				[lessonName]="lesson.name"
			></app-lesson-info-card>
			<app-lesson-badge-card
					*ngIf="lesson && badges"
					[lesson]="lesson"
					[badges]="badges"
			></app-lesson-badge-card>
			<app-lesson-documents-card *ngIf="attachments.length > 0" [lessonAttachments]="attachments"></app-lesson-documents-card>
		</section>
		<section *ngIf="lesson" class="main-content">
			<h1>{{ lesson.name }}</h1>
			<section class="lesson-content" [innerHTML]="getSafeHTML()"></section>
			<button class="go-to-test-button button" [routerLink]="'test/' + lesson.quizId">
				<fa-icon [icon]="icons.faGraduationCap" class="graduationCap"></fa-icon>
				Do the test
				<fa-icon [icon]="icons.faChevronRight" class="chevronRight"></fa-icon>
			</button>
			<section class="next-lesson" *ngIf="nextLessonExists">
				<button class="next-lesson-button" [routerLink]="'../' + nextLesson.id">
					Next lesson
					<fa-icon [icon]="icons.faChevronRight" class="chevronRight"></fa-icon>
				</button>
				<section class="next-lesson-content" [innerHTML]="getSafeHTMLNextLesson()"></section>
			</section>
		</section>
	</div>
</main>
