<div class="outside-container">
    <section class="nav-wrapper container">
        <div id="options">
            <ul>
                <li [routerLink]="coursesPath"> Courses </li>
            </ul>
            <ul class="right-side-wrapper">
                <li [routerLink]="adminPanelPath" *ngIf="this.isAdmin">Adminpanel</li>
                <li [routerLink]="settingsPath">Settings</li>
                <li (click)="logout()" [routerLink]="logoutPath">Logout</li>
            </ul>
        </div>
        <li class="phone-bars">
          <fa-icon [icon]="icons.faBars" (click)="hamburgerClicked()"></fa-icon>
        </li>
    </section>
</div>
