@import "/src/app/shared/variables";

* {
	padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
	font-family: Bahnschrift, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $color-white;
	background-color: $color-background;
	overflow-x: hidden;
	height: 100%;
    font-weight: normal;
    font-size: 14px;
}

ul {
	list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color-white;
	display: inline-block;
}

h1 {
    font-size: 1.6rem;
    font-family: "Noto Sans JP", Helvetica, Arial, sans-serif;
}

a,
p,
li {
	font-size: 14px;
	text-decoration: none;
	color: darken($color-white, 15%);
	font-weight: 400;
}

hr {
	opacity: 0.2;
}

.container {
	position: relative;
	margin: 0 auto;
	max-width: 1000px;
	height: auto;
	padding: 0 20px;
	overflow: visible;
    min-height: 100vh;
}

button {
    border: none;
    cursor: pointer;
    background: none;
}

.button {
    padding: 10px 15px;
    border: none;
    border-radius: $border-radius;
    transition: .3s;

    max-width: max-content;
    font-size: 13px;
    font-weight: bold;
    background-color: $color-gray-200;
    white-space: nowrap;

    color: $color-white;

    span.icon {
        margin-left: 25px;
        top: 1px;
        position: relative;
    }

    &:disabled {
        cursor: not-allowed;
    }

    &:not(:disabled) {
        cursor: pointer;

        &:hover {
            filter: brightness(93%);
        }
    }

    &.primary {
        background-color: $color-primary;
    }

    &.danger {
        background-color: $color-red-600;
        color: $color-white;
    }

    &.warning {
        background-color: $color-orange-500;
        color: $color-white;
    }

    &:disabled {
        filter: brightness(60%);
    }
}

form {
    .form-group {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        &.last {
            margin-bottom: 0;
        }

        label {
            font-size: 11px;
            margin-bottom: 5px;
            color: $color-gray-500;
            font-size: 14px;
        }
    }
}

input, textarea {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid $color-gray-700;
    color: $color-white;
    font-family: inherit;
    display: block;
    background-color: transparent;
    transition: .3s;

    &::placeholder {
        color: $color-gray-500;
    }

    &:focus {
        border-color: $color-white;
        outline: none;
    }
}

textarea {
    resize: none;
    height: 100px;
}

.link {
    cursor: pointer;
    transition: .3s;

    &:hover {
        filter: brightness(90%);
    }
}

.columns {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    margin-left: -20px;

    & > * {
        margin-left: 20px;
    }
}