<div class="question-answer-card" ngModelGroup="newAnswer" *ngIf="newAnswer">
    <label for="answer">Answer</label>
    <div class="answer-content">
        <input
                type="text"
                name="answer{{index}}}"
                class="dark"
                id="answer"
                placeholder="Put answer content in here"
                [ngModel]="newAnswer.text"
        />
        <div class="correct-answer-checkbox">
            <input
                    type="checkbox"
                    id="correctAnswer"
                    name="correctAnswer{{index}}"
                    [ngModel]="newAnswer.correct"
            />
            <label for="correctAnswer">Correct</label>
        </div>
    </div>
</div>
