<div class="question-answer-card" ngModelGroup="newAnswers" *ngIf="newAnswers">
    <label for="answer{{index}}">Answer</label>
    <div class="answer-content">
        <input
                type="text"
                name="answer{{index}}"
                class="dark"
                id="answer{{index}}"
                placeholder="Put answer content in here"
                [(ngModel)]="newAnswers.text"
        />
        <div class="correct-answer-checkbox">
            <input
                    type="checkbox"
                    id="correctAnswer{{index}}"
                    name="correctAnswer{{index}}"
                    [(ngModel)]="newAnswers.correct"
            />
            <label for="correctAnswer{{index}}">Correct</label>
        </div>
    </div>
</div>
