<div class="question-answer-card" ngModelGroup="newAnswers" *ngIf="newAnswers">
    <div class="label-and-trash-holder">
        <label for="answer{{index}}">Answer</label>
        <fa-icon
                [icon]="icons.faTrash"
                [styles]="{
						 stroke: 'white',
						 color: 'white',
						 width: '15',
						 height: '15'
				}"
        ></fa-icon>
    </div>
    <div class="answer-content">
        <input
                type="text"
                name="answer{{index}}"
                class="dark"
                id="answer{{index}}"
                placeholder="Put answer content in here"
                [(ngModel)]="newAnswers.text"
        />
        <div class="correct-answer-checkbox">
            <input
                    type="checkbox"
                    id="correctAnswer{{index}}"
                    name="correctAnswer{{index}}"
                    [(ngModel)]="newAnswers.correct"
            />
            <label for="correctAnswer{{index}}">Correct</label>
        </div>
    </div>
</div>
