<main class="content-holder">
	<section class="main-content">
		<h3>Question 01</h3>
		<div class="question-card-content">
			<label for="question">Question</label>
			<input
				type="text"
				id="question"
				name="question"
				class="dark"
				placeholder="Put question content in here..."
			/>
		</div>
		<app-admin-answer-card></app-admin-answer-card>
		<button class="add-button">
			<span>
				<fa-icon
					[icon]="icons.faPlus"
					[styles]="{
						stroke: 'white',
						color: 'white',
						width: '20',
						height: '20'
					}"
				></fa-icon>
			</span>
		</button>
	</section>
</main>
