<app-modal [title]="role ? 'Edit role' : 'Create role'" (closeModal)="close()">
  <ng-container body>
    <div class="name">
      <label style="margin-bottom: 3px">Role name</label>
      <input class="input" value="{{ role?.name }}" style="width: 100%;">
    </div>
    <br>
    <div class="permissions">
      <label style="margin-bottom: 3px">Permissions</label>
      <ul>
        <li *ngFor="let permission of permissions">
          {{ permission.value }}
        </li>
      </ul>
    </div>
  </ng-container>
</app-modal>
