<div class="container">
    <div class="content-holder">
        <section class="left-sidebar">
            <app-profile-card></app-profile-card>
            <section class="chats-sidebar-section">
                <h3>Chats</h3>
    
                <ul>
                    <li *ngFor="let chat of chats" [routerLink]="['/chats', chat.id]">
                        <div class="columns">
                            <img src="assets/images/avatar-temp.jpg" alt="Profile avatar" class="avatar">
                            <p>{{ getOtherUserOfChat(chat).firstname }}</p>
                        </div>
                    </li>
                </ul>
            </section>
        </section>
    
        <section class="main-content">
            <app-chat-window *ngIf="currentChat" [chat]="currentChat"></app-chat-window>
        </section>
    </div>    
</div>