@import "/src/app/shared/variables";
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";

.main-content {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.questions-holder {
	display: flex;
	flex-direction: column;
	gap: 20px;

	> .add-button {
		height: 50px;
		width: 50px;
		border-radius: 100%;
		background-color: #1c2b40;

		> span {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
.question-array {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
